#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body {
  print-color-adjust: exact;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-grid {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: -3px -11px;
}

.card-image {
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  height: fit-content;
}

.portrait-image {
  z-index: -1;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  height: fit-content;
  left: 0px;
}

.title-text {
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  font-family: 'Gill Sans MT';
  font-weight: bold;
  color: white;
  font-size: 12px;
  position: relative;
  left: 25px;
  top: 14px;
  display: flex;
  align-items: center;
  text-align: left;
  height: 20px;
}

.cost-text {
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  font-family: 'Gadugi';
  font-weight: bold;
  color: white;
  font-size: 15px;
  position: relative;
  right: -116px;
  top: 13px;
  text-align: right;
  height: 20px;
  width: 100px;
}

.type-text {
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  font-family: 'Gill Sans MT';
  font-weight: bold;
  color: white;
  font-size: 14px;
  left: 32px;
  top: 175px;
  height: 100px;
}

.description-text {
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  font-family: 'Gill Sans MT';
  color: black;
  font-size: 11px;
  width: 163px;
  height: 82px;
  left: 37px;
  top: 191px;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.move-text {
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  font-family: 'Gadugi';
  font-weight: bold;
  font-style: italic;
  color: black;
  font-size: 28px;
  left: 186px;
  top: 159px;
  width: 40px;
  height: 40px;
  text-align: center;
}

.injury-marker-1 {
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  font-family: 'Gadugi';
  font-weight: bold;
  font-style: italic;
  color: black;
  font-size: 28px;
  left: 200px;
  top: 243px;
  text-align: center;
}

.injury-marker-text-1 {
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  font-family: 'Gadugi';
  font-weight: bold;
  font-style: italic;
  color: black;
  font-size: 18px;
  left: 191px;
  top: 243px;
  width: 40px;
  height: 40px;
  text-align: center;
}

.injury-marker-2 {
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  font-family: 'Gadugi';
  font-weight: bold;
  font-style: italic;
  color: black;
  font-size: 28px;
  left: 200px;
  top: 218px;
  text-align: center;
}

.injury-marker-text-2 {
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  font-family: 'Gadugi';
  font-weight: bold;
  font-style: italic;
  color: black;
  font-size: 18px;
  left: 191px;
  top: 218px;
  width: 40px;
  height: 40px;
  text-align: center;
}

.health-text {
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  font-family: 'Gadugi';
  font-weight: bold;
  font-style: italic;
  color: black;
  font-size: 28px;
  left: 186px;
  top: 268px;
  width: 40px;
  height: 40px;
  text-align: center;
}

.value-text {
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  font-family: 'Gadugi';
  font-weight: bold;
  font-style: italic;
  color: black;
  font-size: 11px;
  left: 86px;
  top: 287px;
  width: 77px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.attack-text {
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  font-family: 'Gadugi';
  font-weight: bold;
  font-style: italic;
  color: black;
  font-size: 28px;
  left: 13px;
  top: 268px;
  width: 40px;
  height: 40px;
  text-align: center;
}