
.cardContainer {
    transform-origin: center center;
    display: grid;
    grid-template-columns: 1fr;
}

.cardImage {
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    height: 3.5in;
}

.rulesContainer {
    grid-row: 1;
    grid-column: 1;
    height: 3.5in;
    z-index: 3;
}

.rulesText {
    font-family: 'Gill Sans MT';
    position: relative;
    z-index: 4;
    max-width: 116px;
    top: -64px;
    left: 35px;
    line-height: 5px; 
    margin: 0px;
    font-style: italic;
}

.portraitImage {
    z-index: -1;
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    transform-origin: left;
    top: 30px;
    height: 2.5in;
}

.titleOverlayText {
    z-index: 2;
    grid-row-start: 1;
    grid-column-start: 1;
    font-family: 'Gill Sans MT';
    color: white;
    background-color: black;
    font-size: 40px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    height: fit-content;
    overflow-wrap: anywhere;
}

.statsOverlayText{
    font-family: 'Gill Sans MT';
    color: white;
    font-size: 32px;
    align-self: center;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

.statsOverlayContainer{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: black;
    z-index: 2;
    grid-row-start: 1;
    grid-column-start: 1;
    overflow-wrap: none;
    top: 300px;
    max-height: 35px;
}

.titleText {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    font-family: 'Matrix';
    font-weight: bold;
    color: black;
    font-size: 14px;
    position: relative;
    left: 25px;
    top: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    height: 20px;
}

.costText {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    font-family: 'Matrix';
    font-weight: bold;
    color: white;
    font-size: 24px;
    position: relative;
    right: -195px;
    top: 15px;
    text-align: center;
    height: 35px;
    width: 35px;
}

.typeText {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    font-family: 'Matrix';
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 14px;
    height: 30px;
    top: 307px;
}

.descriptionText {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    color: black;
    font-size: 11px;
    width: 197px;
    height: 82px;
    left: 23px;
    top: 212px;
    display: flex;
    justify-content: left;
    text-align: left;
    font-family: sans-serif;
}

.moveText {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    font-family: 'Gadugi';
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-size: 25px;
    left: 5px;
    top: 292px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.injuryMarker1 {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    font-family: 'Gadugi';
    font-weight: bold;
    font-style: italic;
    color: black;
    font-size: 28px;
    left: 200px;
    top: 243px;
    text-align: center;
}

.injuryMarkerText1 {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    font-family: 'Gadugi';
    font-weight: bold;
    font-style: italic;
    color: black;
    font-size: 18px;
    left: 191px;
    top: 243px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.injuryMarker2 {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    font-family: 'Gadugi';
    font-weight: bold;
    font-style: italic;
    color: black;
    font-size: 28px;
    left: 200px;
    top: 218px;
    text-align: center;
}

.injuryMarkerText2 {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    font-family: 'Gadugi';
    font-weight: bold;
    font-style: italic;
    color: black;
    font-size: 18px;
    left: 191px;
    top: 218px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.healthText {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    font-family: 'Gadugi';
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-size: 25px;
    left: 196px;
    top: 292px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.valueText {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    font-family: 'Gadugi';
    font-weight: bold;
    font-style: italic;
    color: white;
    font-size: 11px;
    top: 322px;
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.attackText {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    font-family: 'Gadugi';
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-size: 25px;
    left: 169px;
    top: 292px;
    width: 40px;
    height: 40px;
    text-align: center;
}