.battlefieldGrid {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    min-width: 650px;
}

.battlefieldGridCell {
    width: 120px;
    height: 110px;
    border-style: solid;
    border-color: red;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instanceWrapper {
    scale: .3;
} /* TODO: this could be used to render the card instance data (data overlay and annotation)*/

.break {
    flex-basis: 100%;
    height: 0;
}

